{% extends "home/index.html"%}


{% block cuerpo %}
    <form class="we-container w3-card-4
        {% if cdx.tipo == 'alta' %}
        w3-light-blue
        {% elif cdx.tipo == 'baja' %}
        w3-orange
        {% elif cdx.tipo == 'cambio' %}
        w3-pale-green
        {% else %}
        w3-black
        {% endif %}
    " method="POST">
        <div class="w3-row-padding">
{#####################################################################################################################}

{% if cdx.tipo == 'alta' %}
    <br>
    <div class="w3-half">
        <label >Producto:</label>
{#        <a href="{{ url_for('venta.agregar') }}" class="w3-button w3-green"> Agregar</a>#}
{#        <br>#}
{#        {% if cdx.agregado == True %}#}
{#            <label for="producto">{{ cdx.producto }}</label><label for="cantidad"> {{ cdx.cantidad }}</label> <br>#}
{#        {% endif %}#}


            <select name="producto" id="producto" class="w3-select w3-border" onchange="codigo">
            <option disabled selected>Selecciona el producto deseado</option>
            {% for e in cdx.productos %}
                <option value={{ e.precio }}>{{ e.nombre }} ${{ e.precio }}</option>
            {% endfor %}
           <!-- value="{ cdx.nombre }}" -->
        </select>

        <h1 for="total" name="total">Total: {{ total | formato_moneda}} </h1>

            <h7 for="cantidad">Cantidad:</h7>
        <div>
            <input type="number" id="cantidad" name="cantidad" min="1" max="20" placeholder="0">
        </div>
    </div>


    <div class="w3-half">
        <label for="nombre">Nombre:</label>
        <input name="nombre"
               id="nombre"
               class="w3-input w3-border"
               type="text"
                {% if tipo != 'alta' %}
               value="{{ cdx.venta.nombre }}"
                {% endif %}
               placeholder="Nombre del cliente">


        <label for="direccion">Dirección:</label>
        <input name="direccion"
               id="direccion"
               class="w3-input w3-border"
               type="text"
                {% if tipo != 'alta' %}
               value="{{ cdx.venta.direccion }}"
                {% endif %}
               placeholder="Dirección del cliente">

    <label for="telefono">Teléfono (10 dígitos):</label>
        <br>
        <input type="tel" id="telefono" name="telefono" placeholder="Teléfono del cliente" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required><br><br>
    </div>

{#####################################################################################################################}
{% elif cdx.tipo == 'baja' %}
    <div class="w3-third">
        <label for="producto">Producto:</label>
            <input class="w3-input w3-border" value="{{ cdx.venta.producto }}" readonly>
    </div>

    <div class="w3-third">
        <h7 for="cantidad">Cantidad:</h7>
        <div>
        <input class="w3-input w3-border" value="{{ cdx.venta.cantidad }}" readonly>        </div>
    </div>


  <div class="w3-third">
      <h1 for="total">Total:
              {{ 10 | formato_moneda}}
      </h1>
  </div>

    <div class="w3-third">
        <label for="nombre">Nombre:</label>
        <input class="w3-input w3-border" value="{{ cdx.venta.nombre }}" readonly>
    </div>


    <div class="w3-third">
       <label for="direccion">Dirección:</label>
        <input class="w3-input w3-border" value="{{ cdx.venta.direccion }}" readonly>
    </div>


    <div class="w3-third">
        <label for="telefono">Teléfono (10 dígitos):</label>
        <br>
        <input class="w3-input w3-border" value="{{ cdx.venta.telefono }}" readonly>
    </div>
    </div>
{#####################################################################################################################}
{% elif cdx.tipo == 'cambio' %}
    <div class="w3-third">
        <label for="producto">Producto:</label>
        <select name="producto" id="producto" class="w3-select w3-border">
                <option value={{ cdx.venta.nombre }}>{{ cdx.venta.producto }}</option>
           <!-- value="{ cdx.nombre }}" -->
        </select>
    </div>

    <div class="w3-third">
        <h7 for="cantidad">Cantidad:</h7>
        <div>
            <input type="number" id="cantidad" name="cantidad" min="1" max="20" placeholder="0" value="{{ cdx.venta.cantidad }}">
        </div>
    </div>


  <div class="w3-third">
      <h1 for="total">Total: {{ 10 | formato_moneda}} </h1>
  </div>

    <div class="w3-third">
        <label for="nombre">Nombre:</label>
        <input name="nombre"
               id="nombre"
               class="w3-input w3-border"
               type="text"
                {% if tipo != 'alta' %}
               value="{{ cdx.venta.nombre }}"
                {% endif %}
               placeholder="Nombre del cliente">
    </div>


    <div class="w3-third">
       <label for="direccion">Dirección:</label>
        <input name="direccion"
               id="direccion"
               class="w3-input w3-border"
               type="text"
                {% if tipo != 'alta' %}
               value="{{ cdx.venta.direccion }}"
                {% endif %}
               placeholder="Dirección del cliente">
    </div>


    <div class="w3-third">
        <label for="telefono">Teléfono (10 dígitos):</label>
        <br>
        <input type="tel" id="telefono" name="telefono" placeholder="Teléfono del cliente" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required value="{{ cdx.venta.telefono }}"><br><br>
    </div>
    </div>
{% endif %}
{#####################################################################################################################}
        <button class="w3-button w3-section w3-blue w3-ripple w3-padding">
            {% if cdx.tipo == 'alta' %}
            Registrar venta
            {% elif cdx.tipo == 'baja' %}
            Borrar
            {% elif cdx.tipo == 'cambio' %}
            Cambiar
            {% endif %}
        </button>
        <a href="/venta" class="w3-button w3-red">Cancelar</a>

    </form>


{% endblock %}
{% block codigo %}
{% endblock %}