

<title>
    {% if session['usuario'] == 'Administrador' %}
        Sistema Arely Administrador
    {% elif session['usuario'] == 'Empleado' %}
        Sistema Arely Empleado
    {% elif session['usuario'] == 'Usuario' %}
        Sistema Arely Usuario
    {% endif %}
</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

{% if session['usuario'] == 'Administrador' or session['usuario'] == 'Empleado' or session['usuario'] == 'Usuario' %}
    <div class="w3-sidebar w3-blue w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large"
      onclick="w3_close()">Close &times;</button>


        {% if session['usuario'] == 'Empleado' %}
            <a href="/menu" class="w3-bar-item w3-button">Menú principal</a>
            <a href="/venta" class="w3-bar-item w3-button">Venta</a>
            <a href="#" onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Acerca de..</a>
            <br><br><br><br>
            <a href="/logout" class="w3-bar-item w3-button w3-red">Cerrar sesión</a>
        {% endif %}
        {% if session['usuario'] == 'Administrador' %}
            <a href="/menu" class="w3-bar-item w3-button">Menú principal</a>
            <a href="/venta" class="w3-bar-item w3-button">Venta</a>
            <a href="/puestos" class="w3-bar-item w3-button">Puestos</a>
            <a href="/empleados" class="w3-bar-item w3-button">Empleados</a>
            <a href="/productos" class="w3-bar-item w3-button">Productos</a>
            <a href="#" onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Acerca de..</a>
            <br><br><br><br>
            <a href="/logout" class="w3-bar-item w3-button w3-red">Cerrar sesión</a>
        {% endif %}
        {% if session['usuario'] == 'Usuario' %}
            <a href="/menu" class="w3-bar-item w3-button">Menú principal</a>
{#            <a href="/venta" class="w3-bar-item w3-button">Venta</a>#}
{#            <a href="/puestos" class="w3-bar-item w3-button">Puestos</a>#}
            <a href="/empleados" class="w3-bar-item w3-button">Empleados</a>
            <a href="/productos" class="w3-bar-item w3-button">Productos</a>
            <a href="#" onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Acerca de..</a>
            <br><br><br><br>
            <a href="/logout" class="w3-bar-item w3-button w3-red">Cerrar sesión</a>
        {% endif %}
    </div>


    <div id="main">


    <div class="w3-purple">
    {% block sidebarButton %}
      <button id="openNav" class="w3-button w3-purple w3-xlarge" onclick="w3_open()">&#9776;</button>
    {% endblock %}
      <div class="w3-container w3-center">

          {% block encabezado %}
        <h1>Florería Arely</h1>
          {% endblock %}

      </div>
    </div>


    <div class="w3-container">
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
          <div class="w3-container">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <p>Dirección: Galeana #125, colonia Centro.</p>
          </div>
        </div>
      </div>
    </div>


        {% block cuerpo %}
                                    {# 565 es el valor que desaparece la barra de desplazamiento vertical, pero se ve blanco al pie tras abrir la barra#}
            <img width="1500" height="617" src="https://www.allaboutgardening.com/wp-content/uploads/2022/01/Types-of-Flowers-in-Garden-1200x667.jpg">
        {% endblock %}

    </div>

    <script>
    function w3_open() {
      document.getElementById("main").style.marginLeft = "25%";
      document.getElementById("mySidebar").style.width = "25%";
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("openNav").style.display = 'none';
    }
    function w3_close() {
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("openNav").style.display = "inline-block";
    }
    {% block codigo %}

    {% endblock %}
    </script>

    </body>
{% else %}
    Inicie sesión nuevamente para acceder a este sitio.
{% endif %}